:root {
  font-size: 24px;
  --background-color: #fff;
  font-family: sans-serif;
}

.hide {
  display: none;
}

* {
  font-size: 1rem;
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 125px 1fr 75px;
  grid-template-areas:
    "header"
    "main"
    "footer";
  background-color: var(--background-color);
}

body > * {
  border-top: 4px solid black;
}

header {
  grid-area: header;
  font-size: 48px;
  font-weight: bold;
  padding-top: 1rem;
  padding-left: 1rem;
}

main {
  grid-area: main;
  display: grid;
  grid-template-columns: 300px 1fr;
}

nav {
  border-right: 4px solid black;
  padding: 0.5rem;
}

nav li {
  padding-left: 0.5rem;
}

.project:hover {
  border-left: 4px solid black;
  cursor: pointer;
}

.project.onpage {
  cursor: default;
  border-left: 4px solid black;
}

#add-project,
#add-task {
  text-align: start;
  padding: 2px 4px;
  font-size: 18px;
  margin-top: 8px;
}

#project-header {
  font-weight: bold;
}

#tab-name {
  font-weight: bold;
  margin: 2rem;
  margin-bottom: 1rem;
  font-size: 36px;
}

.task {
  display: flex;
  margin-left: 3rem;
  padding-bottom: 8px;
  margin-top: 8px;
  margin-right: 1rem;
  border-bottom: 1px solid #ccc
}

.task .project-name {
  margin-right: auto;
}

.task .project-name ~ * {
  margin-left: 8px;
}

.task p {
  position: relative;
  top: 2px;
}

.task .project-name ~ button {
  padding-left: 8px;
  padding-right: 8px;
}

#task-adder {
  display: flex;
  flex-direction: column;
  margin-right: 1rem;
  margin-left: 3rem;
}

form {
  display:flex;
  flex-direction: column;
}

form > input,
form > textarea {
  font-size: 20px;
  padding: 4px;
}

footer {
  grid-area: footer;
  text-align:center;
  padding-top: 1rem;
}